html, body { height:100%; width: 100%; }
body {
    margin: 0;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}


.product-item{
    border: solid 2px black;
    text-align: center;
    height: 450px;
}


.name-category{
    text-align: center;
    font-size: 50px;
}

#pizza, #drink, #side, #recommendation, #setGoods{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-gap: 1vw;
    margin-left: 5%;
    margin-right: 5%;
    width: 90%;
}

.navbar{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    height: 100px;
    width: 100%;
    background-color: black;
    color: white;
}

#slogan{
    color: white;
    font-size: x-large;
    margin-left: 70px;
    margin-right: 400px;
}

p{
    font-size: large;
    color: rgb(4, 5, 5);
}

#contenteMain{
    display: flex;
    justify-content: center;
    text-align: center;
    margin: 20px;
}

#leftBtn, #rightBtn{
    height: 50px;
    width: 100px;
    margin: auto;
    background: none;
    cursor: pointer;
}

.divider{
    height: 5px;
    width: 100%;
    background-color: black;
    margin-top: 10px;
    margin-bottom: 10px;
}

.btn-menu{
    color: blanchedalmond;
    width: 150px;
    height: 50px;
    margin: 10px;
    cursor: pointer;
    background: none;
    border: none;
    font-size: large;
    border-bottom: solid 2px wheat;
    outline: none;
}

#orderForm{
    text-align: center;
    align-items: center;
    width: 45%;
    margin-left: auto;
    margin-right: auto;
    border: solid 2px black;
    margin-top: 30px;
    margin-bottom: 30px;
}

.orderItem{
display: grid;
grid-template-columns: 1fr 1fr;
margin-top: 40px;
margin-bottom: 40px;
margin-right: 20px;
}

.labelForm{
    font-size: x-large;
}
 .inputForm{
  font-size: x-large;
}

#done-btn{
    height: 50px;
    width: 150px;
    margin: 30px;
    color: wheat;
    background-color: rgb(66, 167, 76);
}

footer{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    background-color: black;
    color: wheat;
    height: 300px;
    margin-top: 30px;
}

.order{
    height: 50px;
    width: 150px;
    margin: 30px;
    color: wheat;
    background-color: rgb(66, 167, 76);
}

.info{
    font-size: small;
}

.nameIcon{
    background: none;
    outline: none;
    border: none;
    cursor: pointer;
    padding: 0;
}

button {
    cursor: pointer;
}

#infoBacket{
    width: 30px;
    height: 15px;
    background-color: red;
    border-radius: 20px;
    margin-left: 0;
    text-align: center;
    font-size: small;
}

.foot{
    display: grid;
    grid-template-columns: 1fr;
}

h3 {
    font-size: x-large;
    border-bottom: solid 2px wheat;
}

#footter-menu, #social, #contact, #payment{
    margin: 30px;
    font-family: 'Times New Roman', Times, serif;
}

#insta, #facebook, #visa, #mastercard, #homePage, #cataloguePage, #discountPage{
    width: 150px;
    height: 50px;
    margin: 5px;
    border: none;
    background: none;
    outline: none;
}

#homePage, #cataloguePage, #discountPage{
    color: wheat;
    font-size: large;
    font-family: 'Times New Roman', Times, serif;
}