html, body { height:100%; width: 100%; }
body {
    margin: 0;
}


.product-item{
    border: solid 2px black;
    text-align: center;
    height: 400px;
}


.name-category{
    text-align: center;
    font-size: 50px;
}

#pizza, #drink, #side, #recommendation, #setGoods{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-gap: 1vw;
    margin-left: 5%;
    margin-right: 5%;
    width: 90%;
}

.navbar{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    height: 100px;
    width: 100%;
    background-color: black;
    color: white;
}

#slogan{
    color: white;
    font-size: xx-large;
}

p{
    font-size: x-large;
    color: rgb(4, 5, 5);
}

#contenteMain{
    display: flex;
    justify-content: center;
    text-align: center;
    margin: 20px;
}

#leftBtn, #rightBtn{
    height: 50px;
    width: 100px;
    margin: auto;
    background: none;
    cursor: pointer;
}

.divider{
    height: 5px;
    width: 100%;
    background-color: black;
    margin-top: 10px;
    margin-bottom: 10px;
}

.btn-menu{
    color: blanchedalmond;
    width: 150px;
    height: 50px;
    margin: 10px;
    cursor: pointer;
    background: none;
}

#orderForm{
    text-align: center;
    align-items: center;
    width: 45%;
    margin-left: auto;
    margin-right: auto;
    border: solid 2px black;
    margin-top: 30px;
    margin-bottom: 30px;
}

.orderItem{
display: flexbox;
justify-self: center;
margin-top: 40px;
margin-bottom: 40px;
}

.labelForm{
    font-size: x-large;
}
 .inputForm{
  font-size: x-large;
}

#done-btn{
    height: 50px;
    width: 150px;
    margin: 30px;
    color: wheat;
    background-color: black;
}

footer{
    background-color: black;
    color: wheat;
    height: 300px;
    margin-bottom: 0;
}